.header{
	height : 70px;
}

.header2{
	height: 60px;
	background-color: #D3D3D3;
}

.taille_logo{
	height: 85px;
	width: 120px;
}

.titre{
	font-size: 30px ;
	color: black;
	margin-top: 15px;

}

.mid{
	height: 450px;
}

.center{
	margin-top: 150px;
}

.nbr2{
	margin-top: 20px;
}

.op{
	margin-top: 20px;
}

.cal{
	margin-top: 30px;
}

.res{
	color : white;
	margin-top: 15px;
}
 .test{
	background-color: red;
	height: 200px;
 }


 .taille_img{
	height: 45px;
	width: 45px;
 }

 .img_panier{
	height: 65px;
	width: 80px;
 }

 .footer{
	height: 200px;
	background-color: #D3D3D3;	
 }

